.btn 
  font-weight 900
  font-size 13px
  margin 0 auto 5px
  display block
  font-family $f-sans
  color $orange
  text-transform uppercase
  border 3px solid $orange
  padding 15px 15px
  background none
  position relative
  text-align center
  transition all .8s $twt-ease 
  z-index 1
  max-width 320px
  text-decoration none

  &-inline 
    +md-min()
      margin-right 5px

  &:after
    square(100%)
    content ''
    position absolute
    background $orange
    top 0
    left 0
    z-index -1
    transform scale(.9) 
    opacity 0
    transition all .8s $twt-ease

  &:hover 
    color white
    text-decoration none
    &:after 
      transform scale(1)
      opacity 1

  &-block
    display block

  @media (min-width: 540px)
    display inline-block

  +md-min()
    padding 15px 25px
  
// .btn      


.btn-play 
  @extend .hover-fade
  img
    square(80px)
    +md-min()
      square(100px)
  


/* --------------------------------------------
  Text link
---------------------------------------------*/
.text-link
  color $orange
  border-bottom 2px solid $orange
  padding 0
  font-weight 800
  font-size 13px
  text-transform uppercase
  outline none!important
  transition padding .4s $twt-ease
  white-space nowrap
  &:hover 
    padding-left 15px
    text-decoration none