.contatti

  &__separator
    


  &__form
    position relative
    z-index 1 

    .container-fluid:before
      @extend .bg-light-mark 
      @extend .shadow-lg
      width 100%
      content ''
      position absolute        
      top 0
      left 0
      height auto
      bottom 0
  // &__form

  +md-min()
    &__form
      .container-fluid:before
        left auto


  +lg-min() 
    &__form
      .container-fluid:before
        top -6%

// .contatti  