/*------------------------------------------------
	Detail
------------------------------------------------*/
.detail  

  &__photo
    position relative
    z-index $z-main-nav
    img 
      width 90vw
      margin 0 auto
      display block 
      max-width 980px
     +sm-min()
      img 
        width 70vw

  &__cat 
    blair()
    font-size 15px
  
  &__title, &__subtitle
    @extend .title-xl
    line-height 1.2

  &__title
    margin 0
    blair-md()

  &__subtitle
    blair() 
    +xl-min()
      font-size 50px


  &__highlight 
    > .container-fluid:before
      background-image none


// .detail    