// Blair light
@font-face {font-family: "Blair Light";
  src: url("../font/3f3ccd1cde5372ca42bf662d7d366119.eot");
  src: url("../font/3f3ccd1cde5372ca42bf662d7d366119.eot?#iefix") format("embedded-opentype"),
  url("../font/3f3ccd1cde5372ca42bf662d7d366119.woff2") format("woff2"),
  url("../font/3f3ccd1cde5372ca42bf662d7d366119.woff") format("woff"),
  url("../font/3f3ccd1cde5372ca42bf662d7d366119.ttf") format("truetype"),
  url("../font/3f3ccd1cde5372ca42bf662d7d366119.svg#BlairITC TT") format("svg");
}


// Blair md
@font-face {font-family: "Blair Md";
  src: url("../font/985a6e565ad52671dd899958ef068960.eot");
  src: url("../font/985a6e565ad52671dd899958ef068960.eot?#iefix") format("embedded-opentype"),
  url("../font/985a6e565ad52671dd899958ef068960.woff2") format("woff2"),
  url("../font/985a6e565ad52671dd899958ef068960.woff") format("woff"),
  url("../font/985a6e565ad52671dd899958ef068960.ttf") format("truetype"),
  url("../font/985a6e565ad52671dd899958ef068960.svg#BlairITC TT") format("svg");
}


// Blair bold
@font-face {font-family: "Blair Bold";
  src: url("../font/93b4921f7bb794c9265bb7efd6e50a06.eot");
  src: url("../font/93b4921f7bb794c9265bb7efd6e50a06.eot?#iefix") format("embedded-opentype"),
  url("../font/93b4921f7bb794c9265bb7efd6e50a06.woff2") format("woff2"),
  url("../font/93b4921f7bb794c9265bb7efd6e50a06.woff") format("woff"),
  url("../font/93b4921f7bb794c9265bb7efd6e50a06.ttf") format("truetype"),
  url("../font/93b4921f7bb794c9265bb7efd6e50a06.svg#BlairITC TT") format("svg");
}


 