$form-border
  border-bottom 1px solid $grey
  &:focus 
    border-color $orange

/* --------------------------------------------
  Error
---------------------------------------------*/ 
.form-error
  box-shadow -5px 0 red
  transition box-shadow .4s



/* --------------------------------------------
  Bootstrap overrides
---------------------------------------------*/ 
.form-control
  border-bottom 1px solid $grey
  margin-bottom 30px
  background none 
  &:focus
    border-bottom-color $orange
    box-shadow none
    background none
  &.error
    @extend .form-error
  +md-min()
   margin-bottom 60px

textarea.form-control
  border 1px solid $grey
  &:focus
    border-color $orange

.form-inline 
  flex-wrap nowrap




/* --------------------------------------------
  Custom elements
---------------------------------------------*/ 
.custom-checkbox
  f-sans()
  font-size 14px
  color $grey
  display block
  &.error .custom-control-indicator
    @extend .form-error
  .custom-control-indicator
    background none    
    border 1px solid $grey
    &:focus
      border none
      box-shadow none

.custom-control-input:checked ~ .custom-control-indicator
  background-image url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%235f6061' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/></svg>")
  background-color $orange
  box-shadow none
  border none


.custom-radio
  .custom-control-indicator
    square(13px)
    background none    
    border 1px solid $grey
    &:focus 
      border none
      box-shadow none
  .custom-control-input:checked ~ .custom-control-indicator
    border: 3px solid white
    background: $orange
    box-shadow: 0 0 0px 1px #545455


.custom-select
  @extend $form-border
  width 100%




/* --------------------------------------------
  Form elements
---------------------------------------------*/ 
button 
  cursor pointer
  background none 
  border 0


label   
  font-size 12px
  font-family $blair-bold 
  color $orange


.required-info
  font-size 14px  
  color $orange


/* --------------------------------------------
  TWT input group
---------------------------------------------*/   
.twt-input-group
  padding-left 40px 
  label
    position relative 
    img 
      position absolute
      left -40px
      top -4px
  .search
    position relative
    input 
      padding-right 40px
    button 
      position absolute
      right 0
      top 0



