/* --------------------------------------------
  Global
---------------------------------------------*/  
html
  background-color #f4f4f4

body
  color $grey
  font-family $f-sans
  font-size 18px
  max-width $body-max-width
  overflow-x hidden
  min-width 320px
  margin 0 auto
  font-weight 500
  overflow-anchor none

/* --------------------------------------------
  Link opacity effect
---------------------------------------------*/ 
.hover-fade
  transition opacity .4s
  &:hover
    text-decoration none 
    opacity .7


main
  min-height 300px


*
  outline none


/* --------------------------------------------
  HR
---------------------------------------------*/  
hr
  margin 0
  background $grey-light
  border: 0;
  height: 1px;


/* --------------------------------------------
  Backgrounds
---------------------------------------------*/  
.bg-twt
  background url(../img/ui/bg-twt.png) no-repeat left center white
.bg-dark
  background url(../img/ui/bg-dark.jpg) fixed no-repeat left top
  background-size cover
.bg-light-mark
  background url(../img/ui/mark-light.svg) no-repeat right -750px top -200px $grey-lighter
.bg-header
  background url(../img/ui/bg-header.jpg) no-repeat center top



/* --------------------------------------------
  Shadows
---------------------------------------------*/ 
.shadow-lg  
  box-shadow 73px 73px 73px rgba(0,0,0,.17)


/* --------------------------------------------
  Box links
---------------------------------------------*/ 
.box-link
  @extend .flex-center
  position relative
  text-align center

  img, &__cta 
    transition all .4s
  &__cta 
    font-size 13px
    fw(800)
    t-trans(uppercase)
    color $orange
    position absolute
    opacity 0
    border-bottom 3px solid $orange
  &:after
    square(100%)
    position absolute
    content ''
    box-shadow 5px 5px 30px rgba(0,0,0,0.2)
    opacity 0
    transition opacity .4s
    top 0
    left 0
  &:hover
    z-index 1
    img
      transform translateY(-30%)
    .box-link__cta 
      transform translateY(10%)
      opacity 1
      z-index 1
    &:after 
      opacity 1

// .box-link



/* --------------------------------------------
  Hero (prima fascia)
---------------------------------------------*/ 
.hero-no-img
  padding-top 100px
  +md-min()
    padding-top 200px
  +xl-min()
    padding-top 300px


/* --------------------------------------------
  Breadcrumb
---------------------------------------------*/
.breadcrumb
  font-size 14px
  ul
    @extend .list-unstyled
    @extend .list-inline
  li
    &:not(:last-child):after
      content '■'
      font-size 7px
      margin 0 5px 0 8px
      display inline-block
      transform translateY(-2px)
      color $grey-light
  a 
    color $grey
    font-weight bold



/* --------------------------------------------
  Overflowing video
---------------------------------------------*/  
.video-overflow
  @extend .clearfix 
  position relative
  &__play
    @extend .hover-fade
    square(100px)
    // background url(../img/ui/play.svg) no-repeat center center 
    background-size cover
    position absolute
    top calc(50% - 50px) 
    pointer-events none
  video
    float right
    transition width .2s
    cursor pointer

    // Annulla allineamento fuori griglia su mobile
    +sm-max()     
      margin-right -20px
      width calc(100% + 40px) !important
 





/* --------------------------------------------
  Grid section
---------------------------------------------*/  
.grid
  &__item
    display flex
    align-items flex-start
    color white
  &__mark
    size(110px, 50px)
    margin-right 20px
    transform translateY(-10px)
  &__title
    @extend .title-md
    color white




/* --------------------------------------------
  Banner title
---------------------------------------------*/      
.banner-title
  background-size cover
  background-attachment fixed
  .container 
    height 300px
    +md-min()
      height 500px
    +xxl-min()
      height 780px

  [class*="title"] 
    &, strong
      color white



/* --------------------------------------------
  Hexagons
---------------------------------------------*/  
.hexagons  
  .image img
    max-width 200px  
  &__item
    // &:nth-child(even)
    //   .image 
    //   .text
  +md-min()
    .image img 
      max-width 100%




/* --------------------------------------------
  Lista (vedere template generico)
---------------------------------------------*/ 
ul.list
  @extend .list-unstyled
  color white
  li
    border-bottom 1px solid $grey-dark
    margin-bottom 30px


/* --------------------------------------------
  Download (vedere template generico)
---------------------------------------------*/ 
.download
  color white
 

/* --------------------------------------------
  Side panel
---------------------------------------------*/ 
.side-panel 
  position relative
  > .container-fluid
    &:before
      @extend .shadow-lg
      @extend .bg-light-mark
      square(100%)
      content ''
      // background $grey-lighter
      top 0
      left 0
      position absolute
  .container
    position relative
  +md-min()
    & > .container-fluid:before
      left auto 



/* --------------------------------------------
  TWT list (download)
---------------------------------------------*/ 
ul.twt-list
  @extend .list-unstyled
  li
    margin-bottom 10px
    &:before
      square(20px)
      display inline-block
      content ''
      background url('../img/ui/mark.svg') no-repeat left top
      background-size cover
      margin-right 15px
      vertical-align sub
  a 
    color $grey
    font-weight bold
    font-size 20px 
      
      

/* --------------------------------------------
  ScrollReveal
---------------------------------------------*/ 
.reveal
  // visibility hidden
  // opacity 0
  &-wrap
    overflow hidden
    padding-top 3%



/* --------------------------------------------
  Pagination
---------------------------------------------*/ 
.twt__pagination
  font-size 14px    
  font-weight 600
  text-align center
  width 100%
  a
    color $grey
  .page-item
    background none
    margin 10px
    &.active .page-link
      background none   
      color $orange      
  .page-link:hover
    background none 
    color $orange
  .arrow
    transition transform .4s cubic-bezier(.8,0,.2,1)
  .prev:hover
    transform translateX(-15px)
  .next:hover
    transform translateX(15px)

// &__pagination




/* --------------------------------------------
  Table
---------------------------------------------*/
.twt-table
  color white
  thead
    blair-bold() 
  tr
    border-bottom 1px solid #525252
  td
    white-space nowrap
    padding-top 30px
    padding-bottom 5px