.hero 
  overflow hidden
  text-align center
  font-family $blair
  strong  
    font-family $blair-bold
    color white
  
  .slick-slider
    mb(50px)

  


/* --------------------------------------------
  Slick
---------------------------------------------*/
.slick
  &-dots
    bottom -56px
  &-slide    
    position relative
    overflow hidden

    media()
      position absolute
      // top 50%
      // left 50%
      min-width 100%
      min-height 100%
      // transform translate(-50%, -50%)
      top 0
      left 0

    .image
      media()
      z-index 1
      background-position center center
      background-size cover
      transition opacity .4s $twt-ease, transform .8s $twt-ease
      transform scale(1.1)

    video   
      media()
      z-index 0
      cursor url(../img/ui/close.cur), auto
      top 50%
      left 50%
      transform translate(-50%, -50%) 
    
    .btn-play
      display inline-block
      text-align center
      img 
        display inline

    .wrapper     
      @extend .flex-center
      height calc(100vh - 60px)
      min-height 280px
      max-height 1200px
      &.video-playing
        .image, .copy, a
          opacity 0
          pointer-events none
          z-index -1 

      +md-min()
        min-height 500px

    .copy 
      transition opacity .4s, transform .4s $twt-ease
      position relative
      z-index 2
      padding 0 15px

    h2
      color white  
 
  &-active:not([data-slick-index="0"])
    .image
      transform scale(1)
      // animation fadeInUp 1s

  // &-slide

// .slick       