/* --------------------------------------------
  Intro
---------------------------------------------*/  
.home-intro
  bg-pos(left 250px)
// .home-intro




/* --------------------------------------------
  Divisioni
---------------------------------------------*/  
.divisioni
  @extend .bg-dark
  // bg-pos(left 400px)
  color white 

  &-mask
    square(100%)
    content ''
    position absolute
    background white
    left 0
    top -70%
    +lg-min()
      top -50%

  &__title
    position relative
    z-index 1
    overflow hidden
    &:before
      @extend .divisioni-mask
      top 0
 

  &__items 
    position relative
    overflow hidden
    &:before
      @extend .divisioni-mask
    .row
      +xxl-min()
        padding-left 200px

  &__item 
    color white
    font-family $blair
    transition all .4s ease-out 0
    display block
    .thumb 
      max-width 80%
      transition transform .4s
    strong  
      font-family $blair-md
      display block
      color white
      transition all .4s ease-out 0
    &__title
      font-size 13px
      position relative
      line-height 1
      border-left 4px solid white
      padding-left 15px
      transition all .4s ease-out 0
      img   
        display none
    &:hover 
      t-dec(none)
      &, strong 
        color $orange
      .thumb
        transform translateY(-3%)
      .divisioni__item__title 
        border-color $orange

    +sm-min()
      &__title
        font-size 16px

    +md-min()
      &__title
        font-size 18px

    +xl-min()
      .thumb
        max-width 100%
      &__title
        font-size 24px
        border 0
        padding-left 0
        img 
          display block
          position absolute 
          left -40px
  // &__item   

  
  &__copy
    strong 
      color $orange

// .divisioni
