$body-max-width = 1920px
$container-xl = 1620px

.container-xl
  max-width $container-xl
  margin 0 auto
  padding-left 15px
  padding-right 15px


.container
  // padding-left 20px
  // padding-right 20px
  // 

.container-fluid
  @extend .container-xl
  +lg-min()
    //padding-left 60px
    //padding-right 60px


/* --------------------------------------------
  Gutters lg
---------------------------------------------*/
.row.gutters-lg
  +lg-min()
    margin-left -30px
    margin-right -30px
    .col, [class*="col-"]
      padding-left 30px
      padding-right 30px
