/* --------------------------------------------
  Listing generico
---------------------------------------------*/ 
.listing
 
  &__item

    $padding = 40px

    &__thumb
      overflow hidden
      img 
        width 100%
        transition transform .8s $twt-ease
      &:hover
        img 
          transform scale(1.1)
    &__thumb
      display block
    &__body
      padding $padding
      position relative
      &:before
        content ''
        square(13px)
        background $orange
        top $padding + 7px
        left 0
        position absolute
    &__date
      blair()
      color $orange
      display block
    &__copy
      font-size 15px
    // +md-min()
      // &__body
      //   padding-left 40px
    // +md-min() 

// .listing


