/* --------------------------------------------
  MAIN NAV
---------------------------------------------*/
.main-nav
  position absolute
  z-index $z-main-nav
  width 100%
  left 0
  top 0
  +lg-min()
    position fixed

  &.open
    // Evita che la foto nel dettaglio 
    // vada sopra il menu
    z-index $z-main-nav + 100  

  &:before
    content ''
    background-image url(../img/ui/nav-bg.png)
    background-repeat no-repeat
    position absolute
    z-index $z-main-nav - 1
    pointer-events none
    height 35vw
    width 100%
    background-size 100% auto 
    @media (min-width: ($body-max-width + 1) )
      background-size 1920px auto
      background-position center top
  

  // Sfondo della navigazione per le pagine che hanno 
  // immagine o slider come primo elemento
  // classe assegnata via JS
  &.has-hero
    &:before
      height 35vw
      background-image linear-gradient(to bottom, rgba(0,0,0,.7), transparent) 

  // Sfondo della navigazione per la pagina dettaglio prodotto
  // classe assegnata via JS
  &.is-detail
    &:before 
      height 55vw
      background-image url(../img/ui/nav-bg--detail.png)


  a
    color white
    transition color .4s
    &:hover
      t-dec(none)
      color $orange
  
  .primary, .secondary
    position relative

  .primary, .secondary
    z-index $z-main-nav
  


  .secondary
    font-size 14px
    font-family $f-sans
    text-align right
    padding-top 20px
    display none              // Hidden on mobile
    z-index $z-secondary-nav
    overflow hidden
    transition height .4s, padding .4s
    height 42px
    a, strong 
      color white
    a  
      @extend .hover-fade
      margin-left 30px
    img 
      vertical-align baseline
    // Versione compatta che viene mostrata allo scroll
    &--compact
      height 0
      padding 0
  // .secondary

 

  .lang-country
    color $grey-light
    font-size 12px
    img 
      margin-right 3px
    span
      transition all .4s $twt-ease
    &__lg
      font-weight bold
      margin-right 3px
    &__country
      margin-left 3px
    &:hover
      .lang-country
          color $orange

  // .secondary


  .dropdown
    &-menu, &-item
      background none
    
  +lg-min()
    .secondary
      display block

// .main-nav


