/* --------------------------------------------
  MAIN FOOTER
---------------------------------------------*/
.main-footer
  font-size 14px
  fw(600)

  strong 
    color $orange
  
  .prefooter
    &__title
      font-family $blair

  .links    
    &:not(:last-child)
      margin-bottom 50px
    a 
      display block
      color $grey

  .newsletter
    input 
      flex-grow 1 
      margin-bottom 0
    
  .socials
    a 
      @extend .hover-fade
      font-size 22px
      color $orange
      margin-right 10px

  .bottom
    a 
      text-decoration none
      color $grey


// .main-footer







