/* -------------------------------------------
  Mega DropDown Menu
--------------------------------------------*/
.mdd

  // Scoped vars
  $sand = #b49797
  $grey = #545455
  $grey-l = #5f5f60
  $ease = cubic-bezier(.9,0,.1,1)
  $mobile-margin-top = 60px

  position relative  
  &:before            // Grey BG when open
    content ''
    position absolute
    top -40px
    left 0
    width 100%
    height 130px
  &.open 
    &:before
      background $grey  
  &.mobile-open
    .mdd__nav
      display flex
      
  
  &__nav
    display none
    justify-content space-between
    position relative
    flex-direction column
    align-items stretch
    line-height 4
    // transition padding .4s
    &.open
      background $grey
      display flex
    &.ready
      opacity 1
 
  // Globals
  ul
    padding 0
    margin 0
  li 
    list-style none     
    
    
  &__mobile-logo
    display block
    position absolute
    left 15px
    top 15px
    img 
      width 115px
      
    
  &__mobile-toggle 
    display block
    position absolute
    right 15px
    font-size 28px
    font-weight bold
    color white
    top 10px
    cursor pointer
    transform: scale(.7);
    div
      display inline-block      
      &:nth-child(2)
        font-size 18px
        transform translateY(8px)
        display none
   
  // First level link
  &__item 
    border-bottom 1px solid rgba(0,0,0,.2)
    > a
      font-size 13px
      font-family $blair-bold
      display block
      cursor pointer   
      padding 0 15px
      color white
      text-decoration none
      text-transform uppercase
      white-space nowrap
    &.logo
      display none
      margin 0 20px
      a 
        padding 0
        transition transform .4s $twt-ease
      img 
        size(150px, 60px) 
      &:hover a
        transform scale(1.05)
    
      
    &:hover > a
      color $orange    
    &:first-of-type
      margin-top $mobile-margin-top
  
  &__item--mobile
    display flex
    justify-content space-between
    a 
      f-sans()
      text-transform none 
      padding 15px


    
  // MEGAMENU  
  &__megamenu
    display none
    position relative
    top 100%
    left 0
    width 100%
    background $sand
    box-shadow 0 5px 5px rgba(0,0,0,.01)
    font-size 16px
    font-weight 700
    line-height 2
    &__inner  
      display flex
      justify-content center  
      flex-direction column
    &__container
      transition flex-basis .4s $ease
      flex 1 1 auto
      display flex      
      overflow hidden
      &&--first
        flex-basis 100%
        background $grey-l
      &&--second
        flex-basis 0
        background $grey
        display none
    &.open
      .mdd__megamenu__container--first, .mdd__megamenu__container--second
        flex-basis 50%
      
    ul ul 
      display none
      margin-left 20px
    
    a
      color white
      position relative
      white-space nowrap
      transition all .4s $ease
      display block
      padding 5px 0
      &:before
        content ''
        transform scaleX(0)
        width 20px
        height 3px 
        background $orange
        display inline-block
        vertical-align baseline
        transition transform .4s $ease
        margin-right 10px
      &:hover, &.open  
        color $orange
        transform translateX(5px)
        &:before
          transform scaleX(1)          
  // &__megamenu      
  
  +md-min()
    &__item
      &:first-child a
        padding-left 0
      &:last-child a
        padding-right 0
    
    &__mobile-logo
      img
        width 170px

    &__megamenu a
      padding 0
  // md-min 


  +lg-min()
    &__nav
      flex-direction row    
      display flex
      opacity 0         // Set to 1 via JS after size calc
      line-height 1
    
    &__mobile-logo, &__mobile-toggle
      display none
    
    &__item
      display flex
      align-items center
      padding 0 
      border 0
      > a
        font-size 9px
        padding 0 10px
      &:hover 
        .mdd__megamenu
          display block
      &:first-child
        margin-top 0
      &.logo
        display block
      &--mobile
        display none
      
    &__megamenu
      position absolute
      font-size 22px
      &__inner  
        flex-direction row
      &__container
        min-height 200px
        padding-top 30px
        padding-bottom 30px
        &&--first          
          justify-content center
        &&--second
          display flex
          ul 
            margin-left 30px
      a:before
        width 60px
        height 6px 
        margin-right 25px
  // lg-min      


  +xl-min()
    &__item      
      > a 
        font-size 11px
        padding 0 15px
      &.logo  
        margin 0 30px
        img 
          width 11vw
  // +xl-min()


  +xxl-min()
    &__item      
      > a 
        font-size 13px
        padding 0 15px
      &.logo  
        margin 0 90px
        img 
          width 260px
  // +xl-min()

       
     
      
  
// .mdd