/* --------------------------------------------
  Modals
---------------------------------------------*/
.modal
  
  &-fullscreen
    max-width initial



// .modal

/* --------------------------------------------
  Fullscreen
---------------------------------------------*/
.modal.fullscreen
  width 100vw
  z-index -1

  &.show  
    z-index 1050

  .modal
    &-dialog 
      margin 0
      max-width none

    &-content
      @extend .bg-twt
      height 100vh

    &-body 
      padding 0 45px

  .back
    @extend .hover-fade
    img 
      width 30px

  


/* --------------------------------------------
  Overlay select (menu)
---------------------------------------------*/
.overlay-select
  @extend .modal.fullscreen

  label 
    width 100%

  .modal
    &-body
      max-width 800px
      margin 0 auto
      width 100%

  .twt-input-group
    padding-left 0
    


/* --------------------------------------------
  Custom animation
---------------------------------------------*/
.twt-fade 
  transform scale(0.9)
  opacity 0
  transition all .6s $twt-ease
  display block !important
  &.show 
    opacity 1
    transform scale(1)

