

/* --------------------------------------------
  Listing prodotti
---------------------------------------------*/ 
.products
  
  // Filtri
  &__filters
    label 
      font-size 14px


  // Lista
  &__list
    overflow hidden
    &__header
      .col
        flex-grow 0
        white-space nowrap

  &__found
    font-size 14px
    &__label
      mr(10px)
      font-size 16px
      img 
        width 22px
        mr(10px)

  
  &__orderby
    display flex
    flex-direction column
    select 
      min-width 240px
    +sm-min()
      flex-direction row


  // Prodotto singolo
  &__item
    z-index 1
    position relative
    display block
    text-decoration none!important
    margin-bottom 50px

    &__thumb
      overflow hidden
      max-width 100%
      display block
      margin 0 auto

    &__title 
      @extend .title
      strong    
        display block

    &__body
      // padding ($padding / 2) $padding
      position relative
      text-align center
      

    &__date
      blair()
      color $orange
      display block

    &__copy
      font-size 15px
      color $grey
    
    &__cta
      display none


    +lg-min()
      $padding = 60px
      $transition-speed = 1s
      
      margin-bottom 0
      text-align left
      
      &:after   // ombra
        square(100%)
        content ''
        position absolute
        top 0
        left 0
        box-shadow 43px 43px 73px rgba(0,0,0,0.17)
        opacity 0
        transition opacity $transition-speed $twt-ease .1s

      &__cta
        square(100%)
        position absolute
        top 0
        left 0
        display flex
        justify-content center
        align-items center
        background rgba(243, 242, 241, 0.8)
        z-index: 3
        transition opacity $transition-speed $twt-ease
        opacity 0
        text-decoration none!important
        span 
          transition transform $transition-speed $twt-ease
          transform translateY(50%)
          margin 0

      &__body
        padding ($padding / 2) $padding
        text-align left

        &:before
          content ''
          square(13px)
          background $orange
          top ($padding / 2) + 3px
          left 15px
          position absolute
        
      &:hover
        z-index 2
        &:after
          opacity 1  
        .products__item__cta
          opacity 1 
          span 
            transform translateY(0)  
    // +lg-min
  
  
  
  
  
  
  
  
  
  
  
  // &__item



  // Correlati
  &__related
    display block
    +lg-min()
      display flex
  //  &__related  
 

 // .products 