/* --------------------------------------------
  Indice
---------------------------------------------*/
.rivenditori

  &__map 
    .container-fluid
      padding 0
      +md-min()
        padding-left 15px
        padding-right 15px

  &__gmap
    @extend .shadow-lg
    width 100%
    height 350px
    +md-min()
      height 500px
    +xl-min()
      height 800px


  &__filters
    font-weight 600
    label 
      display block
    &__filter 
    .custom-radio
      font-size 15px
      color $grey
      font-family $f-sans
      select      
        border 0
        border-bottom 1px solid $grey

 
  &__list   
    &__item
      padding-left 40px 
    &__name
      color $orange
      font-family $blair-md
      position relative
    &__id
      position absolute
      left -40px
    &__address
      font-size 15px
      font-weight 600   


  &__required
    font-size 12px
    text-align right
 
// .rivenditori




/* --------------------------------------------
  Scheda
---------------------------------------------*/
.rivenditore

  &__page-title
    font-size 12px
    color $grey
    font-family $blair-bold

  &__details
    @extend .text-lg
    strong 
      color $grey
      display block
      font-weight 700

  &__map
    @extend .shadow-lg
    position static 
    z-index 10
    width 100%
    +lg-min()
      position absolute
      top -200px
  
  &__gmap    
    height 500px
      
// .rivenditore
   
 

/* --------------------------------------------
  Filiale
---------------------------------------------*/
.filiale
  padding 10px 30px 
  border-left 4px solid $orange  
  &__mark
    display none
  &__title 
    blair()
    font-size 1.2em
    color $orange
    line-height 1
    margin-bottom 15px
  &__address
    font-size .8em
  +md-min()
    text-align center
    border 1px solid $orange
    border-right 0
    padding 25px 0
    &:last-child
      border-right 1px solid $orange
    &__mark
      display block
      margin 0 auto 10px