/* --------------------------------------------
  Globs
---------------------------------------------*/
.slick-slide
  outline none

.slick-dots 
  li 
    button
      &:before 
        font-size 9px
        transition all .4s
        opacity 1
        color #727579
      &:hover:before
        opacity 0.5
        color $orange
    &.slick-active
      button:before 
        color $orange



/* --------------------------------------------
  Fullslider
---------------------------------------------*/
.fullslider
  z-index $z-fullslider
  img 
    max-height 300px
  .slick 
    &-slider
      @extend .shadow-lg
    &-slide
      margin-left 6px
      margin-right 6px

  +lg-min()
    img
      max-height 400px

  +xl-min()
    img
      max-height 600px

// .fullslider