/* --------------------------------------------
  Globs
---------------------------------------------*/ 
a 
  outline none
  &, &:hover
    text-decoration-skip ink
    color $orange

strong  
  color $orange  


/* --------------------------------------------
  Titles
---------------------------------------------*/ 
.title
  color $orange
  font-family $blair  
  text-transform uppercase
  line-height 1.2
  width 100%
  margin 0
  position relative
  font-style normal
  strong  
    font-family $blair-bold  

  &-sm
    @extend .title
    font-size 12px  

  &-md
    @extend .title
    font-size 18px  
    +md-min()
      font-size 24px  

  &-lg
    @extend .title
    font-size 20px
    +md-min()
      font-size 32px
    +xl-min()
      font-size 36px

  &-xl
    @extend .title
    font-size 26px
    +md-min()
      font-size 40px
    +xl-min()
      font-size 60px

  &-xxl
    @extend .title-xl
    +xxl-min()
      font-size 80px

  &-square:before
    +md-min()
      font-size 36px
      position absolute
      content '■'
      left -10%


  &-has-square
    blair()
    color $orange
    position relative
    padding-left 2em 
    font-size 1.25rem
    &:before
      position absolute
      content '■'
      left 0
      font-size: 1.5em
      top: -0.3em
    

// .title



/* --------------------------------------------
  Text
---------------------------------------------*/ 
.text
  font-weight 500

.text-md
  font-size 18px

.text-lg
  font-size 18px
  font-weight 300
  +md-min()
    font-size 22px
  +xl-min()
    font-size 26px



