/*------------------------------------------------
	Background
------------------------------------------------*/
bg-pos($background-position)
  background-position $background-position


/*------------------------------------------------
	Flex
------------------------------------------------*/
.flex-v-center
  display flex
  align-items center

.flex-center
  @extend .flex-v-center
  justify-content center  



/* --------------------------------------------
  Font mixins
---------------------------------------------*/ 
fs($font-size)
  font-size $font-size

fw($font-weight)  
  font-weight $font-weight

t-dec($text-decoration)
  text-decoration $text-decoration  

t-trans($text-transform)
  text-transform $text-transform


/*------------------------------------------------
	Clearfix
------------------------------------------------*/
.clearfix
  &:after
    display block
    content ""
    clear both


/* --------------------------------------------
  Size
---------------------------------------------*/     
size($width, $height)
  width $width
  height $height

square($size)
  width $size
  height $size


/* --------------------------------------------
Padding
---------------------------------------------*/
p($padding) 
  padding: $padding

pb($padding-bottom) 
  padding-bottom $padding-bottom

pt($padding-top) 
  padding-top $padding-top

pl($padding-left) 
  padding-bottom $padding-left

pr($padding-right) 
  padding-top $padding-right

px($padding-horizontal)
  padding-left $padding-horizontal
  padding-right $padding-horizontal

py($padding-vertical)
  padding-top $padding-vertical
  padding-bottom $padding-vertical



/* --------------------------------------------
Margin
---------------------------------------------*/
m($margin) 
  margin $margin

mb($margin-bottom) 
  margin-bottom $margin-bottom

mt($margin-top) 
  margin-top $margin-top

ml($margin-left) 
  margin-bottom $margin-left

mr($margin-right) 
  margin-right $margin-right  

mx($margin-horizontal)
  margin-left $margin-horizontal
  margin-right $margin-horizontal

my($margin-vertical)
  margin-top $margin-vertical
  margin-bottom $margin-vertical  




/* --------------------------------------------
  Lists
---------------------------------------------*/  
.list-unstyled
  padding 0
  margin 0
  li
    list-style: none;

.list-inline
  li 
    display: inline-block;    