/*------------------------------------------------
	Colors
------------------------------------------------*/
$white = white
$grey-dark = #525252
$grey = #5f6061
$grey-light = #e1d8d6
$grey-lighter = #f1f0ef
$orange = #ff5f00


c = {
  grey-dark: #525252,
  grey: #5f6061,
  grey-light: #e1d8d6,
  orange: #ff5f00
  white: white
}

for key, value in c 
  .{key}
    color value !important
  .bg-{key}
    background-color value !important



/* --------------------------------------------
 Font families
---------------------------------------------*/ 
$blair = "Blair Light"
$blair-md = "Blair Md"  
$blair-bold = "Blair Bold"
$f-sans = 'Lato', sans-serif

blair()
  font-family $blair 
blair-md()
  font-family $blair-md 
blair-bold()
  font-family $blair-bold 
f-sans()
  $f-sans

f-sans()
  font-family $f-sans



/*------------------------------------------------
	Screen sizes
------------------------------------------------*/
screen = {
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
} 


/*------------------------------------------------
	Media query mixins
------------------------------------------------*/
sm-min()
  @media screen and (min-width screen.sm)
    {block}
md-min()
  @media screen and (min-width screen.md)
    {block}    
lg-min()
  @media screen and (min-width screen.lg)
    {block}    
xl-min()
  @media screen and (min-width screen.xl)
    {block}     
xxl-min()
  @media screen and (min-width screen.xxl)
    {block}      
    
sm-max()
  @media screen and (max-width screen.sm + 1)
    {block}
md-max()
  @media screen and (max-width screen.md + 1)
    {block}    
lg-max()
  @media screen and (max-width screen.lg + 1)
    {block}    
xl-max()
  @media screen and (max-width screen.xl + 1)
    {block}     
xxl-max()
  @media screen and (max-width screen.xxl + 1)
    {block}         



/*------------------------------------------------
	Z-index list
------------------------------------------------*/
$z-main-nav = 100
$z-secondary-nav = 150
$z-overlay-select = 500
$z-fullslider = 5



/*------------------------------------------------
	Easings
------------------------------------------------*/
$twt-ease = cubic-bezier(.9,0,.1,1)